.app .weather-app {
  background-color: rgb(214, 182, 208);
  padding: 50px 0px 30px 20px;
  margin: 30px auto;
  border: 3px solid plum;
  border-radius: 4px;
  max-width: 650px;
  font-family: "Cutive Mono", monospace;
  color: #fff;
}

.app footer {
  margin: -20px 0px 0px 395px;
  font-size: 15px;
  font-family: "Cutive Mono", monospace;
}

@media (max-width: 1000px) {
  .app footer {
    margin: -20px 0 0 0;
    text-align: center;
  }
}
