.Weather h1 {
  font-size: 60px;
  margin-top: -22px;
}

.Weather .pin {
  text-decoration: none;
  padding-left: 10px;
  font-size: 30px;
  margin-top: -12px;
  position: fixed;
}

.Weather .search-city {
  margin-top: -12px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(0 0 0 / 10%);
  color: #fff;
}

.Weather .search-button {
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  color: #fff;
  font-size: 20px;
  background-color: #e86f25;
  padding: 6px 20px;
  margin-top: -12px;
}

.Weather hr {
  width: 600px;
}

.Weather h6 {
  text-align: center;
  font-size: 20px;
}

.Weather canvas {
  margin-top: 10px;
  margin-bottom: 20px;
}

.Weather .temperature {
  font-size: 90px;
  position: relative;
  bottom: 21px;
  right: 50px;
}

.Weather .unit {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  bottom: 60px;
  right: 42px;
}

.Weather .unit a {
  text-decoration: none;
  color: #fff;
}

.Weather li {
  list-style: none;
  font-size: 20px;
}

.Weather .line {
  margin-top: -12px;
  margin-bottom: 25px;
}

.Weather .search-city:hover {
  background-color: #fff;
  transition: all 250ms ease-in-out;
  border: 1px solid #8c694f;
}

.Weather .search-button:hover {
  border: 1px solid #e86f25;
  color: #e86f25;
  background-color: #fff;
}

@media (max-width: 600px) {
  .Weather a {
    padding-left: 0px;
  }

  .Weather .search-city {
    padding-right: 50px;
  }

  .Weather .search-button {
    padding: 6px;
  }
}
