.Weather a {
  text-decoration: none;
  padding-left: 10px;
  font-size: 30px;
}

.Weather .search-city {
  padding: 6px 0px 6px 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  color: #fff;
  font-size: 20px;
  padding-right: 180px;
}

.Weather .search-button {
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  color: #fff;
  font-size: 20px;
  background-color: plum;
  padding: 6px 20px;
}

.Weather h6 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0;
}

@media (max-width: 600px) {
  .Weather a {
    padding-left: 0px;
  }

  .Weather .search-city {
    padding-right: 70px;
  }

  .Weather .search-button {
    margin-left: -10px;
  }
}
